.hero .container{
    background-image: url(..//img/coffe.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 1280px;
    height: 450px;
}

.hero{

    &__div{
        width: 445px;
        height: 176px;
        padding-left: 85px;
        padding-top: 137px;
    }

    &__h2{
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
    }

    &__p{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
    }
}